.stick_follow_icon {
    top: 70%;
    left: 20px;
    padding: 3px;
    /* width: 2px; */
    /* height: 200px; */
    position: fixed;
    border-radius: 5px;
    margin-top: -100px;
    /* background: black; */

}

.stick_follow_icon ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.stick_follow_icon svg {
    width: 2.2em;
    height: 2.2em;
    cursor: pointer;
}

.stick_follow_icon svg:hover {
    color: #050a90;
    border: #050a90;
    stroke: #050a90;
}


.stick_follow_icon ul li {
    display: block;
    font-size: 14px;
    text-align: center;
    margin-bottom: 8px;
    transition: all .3s;
}


@media only screen and (max-width: 991px) {
    .stick_follow_icon {
        width: unset;
        height: unset;
        position: static;
        margin-top: unset;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        padding: 40px 0;
        align-items: center;
    }

    .stick_follow_icon p {
        top: unset;
        left: unset;
        width: unset;
        height: unset;
        white-space: nowrap;
        position: relative;
        transform: unset;
        font-size: 17px;
        margin-right: 65px;
    }

    .stick_follow_icon ul {
        margin-bottom: 20px;
    }

    .stick_follow_icon ul li {
        display: inline;
        margin-bottom: 29px;
        margin-right: 10px;
    }
}