@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Chivo+Mono:wght@500&family=Electrolize&family=Lobster+Two&family=Marcellus&family=Satisfy&display=swap');

:root {
  --bg-color: #006666;
  --primary-color: #0d0d0d;
  --secondary-color: #e4e4e4;
  --text-color: #e4e4e4;
  --text-color-2: #fff;
  --overlay-color: rgb(12 12 12 / 63%);
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  border-color: #b2d8d8;
  stroke: #b2d8d8;
  font-family: 'Chivo Mono', 'monospace';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



@tailwind base;
@tailwind components;
@tailwind utilities;