@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@500&family=Marcellus&family=Satisfy&display=swap');
@import url('https://fonts.cdnfonts.com/css/papyrus');

:root {
  --bg-color: #006666;
  --primary-color: #0d0d0d;
  --secondary-color: #e4e4e4;
  --text-color: #e4e4e4;
  --text-color-2: #fff;
  --overlay-color: rgb(12 12 12 / 63%);
}

body {
  margin: 0;
  border:#e4e4e4;
  border-color:#e4e4e4;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Chivo Mono', 'monospace';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.white-content {
  background-color: #b2d8d8;
  border: #3C4048;
  border-color: #3C4048;
  color: #3C4048;
  fill:#3C4048;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
